body {
    background: url(job.jpg)
}
h1,h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
}
p {
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;

}